.about-us{
    /* padding-top: 10vh; */

}

.about-parallax {
    /* The image used */
    background: url('https://imgur.com/c6ULYsQ.jpg');
  
    /* Set a specific height */
    min-height: 85vh; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-parallax{
    /* max-width: 50%; */
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 300%;
    font-style: italic;
}

.inner-parallax p{
    padding: 20px 50px;
    color: white;
}

.about-us-container{
    padding: 3vh;
    /* padding: 20vh !important;
    background: url('https://imgur.com/6VA3RdR.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
    
}

.about-us-text{
    padding: 5vh 7vw;
    text-align: justify !important;
    font-style: italic;
}