.franchise-parallax {
    /* The image used */
    background: url('https://i.imgur.com/90fWbp1.png');
  
    /* Set a specific height */
    min-height: 85vh; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.franchise-text{
    text-align: center;
    font-style: italic;
    padding: 5vh;
}

.franchise-container{
    padding: 7vh;
}