.menu-parallax {
    /* The image used */
    background: url('https://imgur.com/o9j6OXj.jpg');
  
    /* Set a specific height */
    min-height: 85vh; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-text{
    text-align: center;
    margin: 2vh;
}

.menu-page-container{
    padding: 2vh;
    display: block;
    margin: auto;
}

.react-pdf__Page__canvas{
    margin: auto;
    width: 70vw !important;
    height: 100% !important;
}

.menu-page .ui.placeholder.segment {
    background-color: #ffffff !important;
}

@media only screen and (max-width: 600px) {
    .view-pc{
        display: none !important;
    }

    br{
        display: none;
    }
}

.menu-page-container a{
    color: #845232 !important;
    font-style: italic;
    font-size: 180%;
    text-align: center;
    /* padding: 2vh; */
}